pkgbase = gnome-shell-extension-vmware-integration-git
	pkgdesc = Hide VMware's virtual NICs (vmnet*) under the user menu
	pkgver = 20190915
	pkgrel = 1
	url = https://github.com/JamiKettunen/gnome-shell-extension-vmware-integration
	arch = any
	license = GPL3
	makedepends = git
	depends = gnome-shell>=3.18
	depends = networkmanager
	source = git://github.com/JamiKettunen/gnome-shell-extension-vmware-integration.git
	sha1sums = SKIP

pkgname = gnome-shell-extension-vmware-integration-git
